.container{
    margin-bottom: 100px;
}
.col-item{
    padding: 20px 40px;
}
.carousel-item{
     padding-left: 140px;
}
.orng-bg{
    background-image: url("images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 15px lightgray;
}
.buy-now-button{
    background-color: black;
    color:#fff;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-now-button:hover{
    color:lightsalmon;
    background-image: linear-gradient(#0575e6,#021b79);
}
.container h6{
    color: orange;
}
.card-footer{
    background-color: white;
    border: none;
}
#categories h1{
    padding-bottom: 8px;
    border-bottom: 7px solid orange;
    border-radius: 3px;
}
.img{
    box-shadow: -10px 5px 5px lightgray;
    border-radius: 10px;
    border: 1px solid white;
    width: 170px;
    padding: 20px;
}
.img1{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    font-size: 20px;
}
.carousel-indicators li{
    width: 20px;
    height: 8px;
    border: none;
    border-radius: 20px;
    background-color: #CECECE;
    }
.carousel-indicators li.active{
    width: 35px;
    height: 10px;
    border-radius: 8px;
    background-image: linear-gradient(145deg,#f1c40f,#e67e22);
    }